<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586456667520-sb7jchq8q1scb6ca818aoml5v2f5924v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586456667520-sb7jchq8q1scb6ca818aoml5v2f5924v</string>
	<key>API_KEY</key>
	<string>AIzaSyCqZSBlnVH4rr1BMmkURhJpBMUfdWxsENk</string>
	<key>GCM_SENDER_ID</key>
	<string>586456667520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.matteo.readingApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-4df40</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-4df40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586456667520:ios:699dc801e449427e479d65</string>
</dict>
</plist>
